<div class="container">
    <div class="text-center border mb-5 shadow rounded">
        <h1>Contato</h1>
        <p>Posso ser contatado no seguinte e-mail: <strong>romualdoosfilho94@gmail.com</strong></p>
        <p>Sinta-se a vontade para se conectar comigo nas seguintes plataformas:</p>
    </div>
    <div class="list-group shadow">
        <a href="https://www.linkedin.com/in/romualdo-santos-filho/" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/Linkedin.png" alt="LinkedIn" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">LinkedIn</h3>
        </a>

        <a href="https://github.com/ROMUBOY" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/Github.png" alt="GitHub" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">GitHub</h3>
        </a>

        <a href="https://romuboy.itch.io" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">
            <img src="../../assets/Itch.png" alt="Itch.io" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
            <h3 class="mb-0">Itch.io</h3>
        </a>
    </div>
</div>
