<nav class="navbar-expand-md border-bottom mb-3" style="background-color: #250B50;">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="/home" routerLinkActive="text-dark">HOME</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="/portfolio" routerLinkActive="text-dark">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="/curriculo" routerLinkActive="text-dark">CURRÍCULO</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" routerLink="/contato" routerLinkActive="text-dark">CONTATO</a>
            </li>
        </ul>        
    </div>
</nav>
