<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Romualdo Santos</h1>
        <h3>Desenvolvedor Back-End &</h3>
        <h3>GameDev</h3>
    </div>

    <div style="position: absolute; bottom: 5px; right: 10px;">
        <a href="https://www.linkedin.com/in/romualdo-santos-filho/" target="_blank">
            <img src="../../assets/Linkedin.png" alt="LinkedIn" width="24" height="24" class="rounded-circle me-2">            
        </a>

        <a href="https://github.com/ROMUBOY" target="_blank">
            <img src="../../assets/Github.png" alt="GitHub" width="24" height="24" class="rounded-circle me-2">            
        </a>

        <a href="https://romuboy.itch.io" target="_blank">
            <img src="../../assets/Itch.png" alt="Itch.io" width="24" height="24" class="rounded-circle me-2">            
        </a>
    </div>
</div>
