<div class="jumbotron">
    <div class="text-center">
        <h1 class="display-4">Romualdo Santos</h1>
        <h3>Desenvolvedor Back-End & GameDev</h3>        
        <div style="display: inline;">            
            <img src="../../assets/c-sharp-logo.png" alt="C#" width="48" height="56" class="me-2">            
            <img src="../../assets/NET_Core_Logo.svg" alt=".NET Core" width="48" height="48" class="me-2">            
            <img src="../../assets/sql.svg" alt="SQL" width="48" height="48" class="me-2">            
            <img src="../../assets/angulaire-logo.png" alt="Angular" width="48" height="48" class="me-2">                        
            <img src="../../assets/unity-logo.png" alt="Unity" width="48" height="48" class="me-2">                        
        </div>        
    </div>        
    <div style="display: flex; justify-content: right;">
        <a href="https://www.linkedin.com/in/romualdo-santos-filho/" target="_blank">
            <img src="../../assets/Linkedin.png" alt="LinkedIn" width="24" height="24" class="rounded-circle me-2">            
        </a>

        <a href="https://github.com/ROMUBOY" target="_blank">
            <img src="../../assets/Github.png" alt="GitHub" width="24" height="24" class="rounded-circle me-2">            
        </a>

        <a href="https://romuboy.itch.io" target="_blank">
            <img src="../../assets/Itch.png" alt="Itch.io" width="24" height="24" class="rounded-circle me-2">            
        </a>
    </div>    
</div>
